div.news-detail
{
	word-wrap: break-word;
}
div.news-detail img.detail_picture
{
	float:left;
	margin:0 8px 6px 1px;
}
.news-date-time
{
	color:#486DAA;
}
.check{
	display: inline-block;
	margin: 0 0.2em;
	padding: 3px;
	background: lightblue;
	border-radius: 2px;
	transition: all 0.3s ease-out;
	font-weight: bold;
	color: white;
}